<div class="marketing-site-hero">
  <div class="marketing-site-hero-content">
    <h1>Bienvenido a PIXELATOR</h1>
    <p class="subheader">Aquí podrás aplicar algunos filtros a tus imágenes favoritas</p>
		<%= link_to "¡COMENZAR!",pictures_url,class:"round button" %>
  </div>
</div>

