<div class='cell auto'>
    <h6>Filtros de convolución</h6>
	  	<% if @picture.image.attached?%>
			<%= form_with model: @picture do |form| %>							
				<%= form.fields_for :variation do |f| %>
						<div class="row">
							<div class="col">
								<% if @picture.remaining_conv_filters.size <1 %>
									<p>Todos los filtros han sido aplicados</p>
								<% else %>
									<%= f.select :filter_type, @picture.remaining_conv_filters %>											
									<%=form.submit "Aplicar Filtro", class:"btn btn-outline-secondary"  %>			
								<% end %>
							</div>
						</div>
				<% end %>
			<% end %>
		<% end %>
</div>