<div class="grid-x grid-margin-x text-center align-stretch">

	
	<% ascii_menu.each do |k,v| %>
		<div class="cell auto">
			
				<%= link_to button_icon(k,v), 
				          picture_path(picture:{variation:{filter_type:k.titleize}},commit:k.titleize,id:@picture.id), 
				          method: :patch,
						  class:"clear button icon #{@picture.remaining_filters.include?(k.titleize) ? '' : 'disabled'}" unless @picture.id.nil?%>
		</div>
	<% end%>
	
</div>