<div class="grid-container">
<h6>Filtro Máximo y Mínimo</h6>
  	<% if @picture.image.attached?%>

		<%= form_with model: @picture, class:'grid-x grid-padding-x' do |form| %>

					<%= form.fields_for :variation do |f| %>
						<div class='cell auto'>							
						<div class="switch small">
							<%= f.check_box :maxmin, class:'switch-input text-right ', id:'maxmin' %>
						  <label class="switch-paddle" for="maxmin">
						    <span class="switch-active" aria-hidden="true">MAX</span>
						    <span class="switch-inactive" aria-hidden="true">MIN	</span>
						  </label>
						</div>
						</div>
						<div class="cell auto">
							<%= f.submit 'Max Min', class: 'hollow button'%>
						</div>

					<% end %>

		<% end %>

	<% end %>
</div>