<!DOCTYPE html>
<html class='no-js'>
	<head>
		<title>Pixelator</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<body>
		<pre>
		<%= yield %>
		</pre>
	</body>
</html>
