/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */


@import 'settings';
@import '/foundation-sites/scss/foundation';
@import '/motion-ui/motion-ui';
@import '/foundation-icons/foundation-icons';

    // Include everything by default. Pick individual components from here instead
    // https://github.com/foundation/foundation-sites/blob/develop/scss/foundation.scss#L80

@include foundation-everything();
@include foundation-range-input;

body, html {
    background-color: #161616;
    color: #fff;
}

.title-bar{
	background-color: #262626;
}


.card{
    background-color: #161616;
    border-radius: 8px;
		color: #69686A;
		box-shadow:  -6px -6px 12px #0c0c0c,
		             6px 6px 12px #202020;
}


/* The overlay effect - lays on top of the container and over the image */
.overlay {

  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

.image-box {
    background-color: rgba(0, 0, 0, .1);
		border: 0px solid #ffffff;
    border-radius: 8px;
		

}
.canvas {
    background-image: url(image_path("square-bg.png"));
		border: 0px solid #ffffff;
		opacity: 1;
    background-position: 50% 50%;
    background-size: 40px 40px;
    z-index:1;
		padding: 15px;
}

.icon {
    border-radius: 10%;
    color: rgba(255, 255, 255, .7);
	font-size:11px;
    min-height: 30px;
    min-width: 30px
}
.icon-2 {
    border-radius: 10%;
    color: #CACACA;
	font-size:8px;
    min-height: 24px;
    min-width: 24px
}

.btn-circular{
		width: 30px;
	  height: 30px;
	  text-align: center;
	  padding: 7px;
	  font-size: 12px;
	  border-radius: 80px;
		box-shadow:3px 3px 7px 3px rgb(0, 0, 0),
            			-3px -3px 10px 1px rgb(136, 137, 141);
}

$image-hover-wrapper-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
$image-hover-wrapper-transition-delay: 0.25s;
$image-hover-wrapper-banner-width: 75%;
$image-hover-wrapper-banner-topspace: 25%;
$image-hover-wrapper-banner-bg: rgba($primary-color ,0.8);
$image-hover-wrapper-icon-size: 24px;

.image-hover-wrapper {
  position: relative;

  a {
    display: inline-block;
    letter-spacing: normal;
    line-height: initial;
    margin: 0;
    padding: 0;
    position: relative;

    img {
      float: left;
      overflow: hidden;
      width: 100%;
    }

    .image-hover-wrapper-reveal {
      background-color: rgba(0, 0, 0, 0.5);
      color: $white;
      display: inline;
      height: 100%;
      margin-left: -100%;
      opacity: 0;
      position: absolute;
      width: 100%;
      z-index: 80;
      transition: $image-hover-wrapper-transition;
      transition-delay: $image-hover-wrapper-transition-delay;

      &:hover {
        opacity: 1;
        transition: $image-hover-wrapper-transition;
      }

      &:hover p {
        opacity: 1;
        transform: translateY(-100%);
        transition: $image-hover-wrapper-transition;
        transition-delay: $image-hover-wrapper-transition-delay;
      }

      p {
        bottom: 0;
        display: block;
        opacity: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        transition: $image-hover-wrapper-transition;
      }
    }

    .fa {
      font-size: $image-hover-wrapper-icon-size;
    }
  }

  .image-hover-wrapper-banner {
    background-color: $image-hover-wrapper-banner-bg;
    color: $white;
    font-weight: 600;
    left: 0;
    padding: 0.5rem;
    position: absolute;
    top: $image-hover-wrapper-banner-topspace;
    width: $image-hover-wrapper-banner-width;
    z-index: 10;
  }
}



.option-menu{
	font-size:10px;
}

.alt-menu{
	background-color: #3E3E3E;
}

#filler-red{
	background-color: $alert-color;
}

#filler-green{
	background-color: $success-color;
}

#filler-blue{
	background-color: $primary-color;
}

.input:focus {
    background-color: green;
}

.footer{
	background-color: #262626;
	position:fixed; 
	bottom:0;
	z-index:100000;
	padding:10px;
	color: white
}

.monospaced {
    font-family: "Courier New", Courier, monospace; 
}

@font-face {
   font-family: 'Domino Blancas';
   src: asset-url('Lasvwd__.ttf');
}

@font-face {
   font-family: 'Domino Negras';
   src: asset-url('Lasvbld_.ttf');
}

@font-face {
   font-family: 'Naipes';
   src: asset-url('PLAYCRDS.TTF');
}

//<div class="monospaced">
  // Put your ASCII art here
////</div>

//debugging

.domino-blancas {
	font-family: 'Domino Blancas' 
}

.domino-negras {
	font-family: 'Domino Negras' 
}

.naipes {
	font-family: 'Naipes' 
}



$marketing-site-hero-height: 65vh;

.marketing-site-hero {
  background: url(image_path("unsplash1.jpg")) top right no-repeat;
  height: $marketing-site-hero-height;
  background-size: cover;
  display: flex;
  align-items: center;

  @media screen and (min-width: 40em) {
    background-position: center center;
  }
}

.marketing-site-hero-content {
  max-width: $global-width;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;

  h1 {
    font-size: 32px;
  }

  .button.round {
    border-radius: 5000px;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 40em) {
    padding-left: 50%;
  }
}



grid-container{
	background-color:yellow;
	border-style: solid;
	  border-color: #32C5C4;
	  border-width: 3px;
}


grid-margin-x{
	border-style: solid;
	  border-color: black;
	  border-width: 3px;
}


grid-x{
	background-color:blue;
	border-style: solid;
	  border-color: #71237A;
	  border-width: 3px;
}



cell{
	background-color:white;
	border-style: solid;
	  border-color: red;
	  border-width: 3px;
}
